meta(charset="UTF-8")

meta(name="viewport", content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0")
link(rel="stylesheet", href="https://fonts.googleapis.com/icon?family=Material+Icons")
link(link href="https://file.myfontastic.com/Sspz7WU9u6mMfounZ3WxDF/icons.css" rel="stylesheet")
link(rel="stylesheet", href="css/style.css")

// Meta facebook
meta(property='og:title' content='MakrozAi | Front end Developer')
meta(property='og:site_name' content='MakrozAi | Front end Developer')
meta(property='og:url' content='http://makrozai.com/')
meta(property='og:description' content='Ux Designer, Front End developer, Art director and I love Coaching')
meta(property='og:type' content='website')
meta(property='og:locale' content='es_ES')
meta(property='og:locale:alternate' content='fr_FR')
meta(property='og:locale:alternate' content='it_IT')
meta(property='article:author' content='https://www.facebook.com/view.marco/')
meta(property='article:publisher' content='https://www.facebook.com/view.marco/')
meta(property="og:image" content="http://static01.nyt.com/images/2015/02/19/arts/international/19iht-btnumbers19A/19iht-btnumbers19A-facebookJumbo-v2.jpg")


// Meta Original Page
title MakrozAi | Front-end Developer

meta(name="author" content="Marco Condori")
meta(name="description" content="Ux Designer, Front End developer, Art director and I love Coaching")

meta(name="robots" content="all")
meta(name="subject" content="Ux Designer, Front End developer, Art director and I love Coaching")

// Meta Twitter
meta(name="twitter:card" content="MakrozAi | Front end Developer")
meta(name="twitter:url" content="https://twitter.com/makrozai")
meta(name="twitter:title" content="MakrozAi | Front end Developer")
meta(name="twitter:description" content="Ux Designer, Front End developer, Art director and I love Coaching")
   