-
  var menu = [
    {
      "name":"Sobre Mi",
      "value":"#main"
    },
    {
      "name":"Curriculum",
      "value":"#curriculum"
    },
    {
      "name":"Proyectos",
      "value":"#portfolio"
    },
    {
      "name":"Blog",
      "value":"#blog"
    },
    {
      "name":"Premios",
      "value":"#awards"
    },
    {
      "name":"Contacto",
      "value":"#contact"
    }
  ];

-
  var skills = [
    {
      "name":"HTML",
      "value":"94"
    },
    {
      "name":"CSS",
      "value":"97"
    },
    {
      "name":"JS",
      "value":"73"
    },
    {
      "name":"PUG",
      "value":"85"
    },
    {
      "name":"SCSS",
      "value":"87"
    },
    {
      "name":"GIT",
      "value":"73"
    },
    {
      "name":"JAVA",
      "value":"57"
    },
    {
      "name":"PHP",
      "value":"75"
    }
  ];

-
  var awards = [
    {
      "title":"CSS DESIGN AWARD",
      "description":"Mejor sitio web CSS del mes.",
      "received":"Septiembre 2016"
    },
    {
      "title":"UX DESIGNER UCH",
      "description":"Interfaz educativa utilizando API's.",
      "received":"Octubre 2016"
    },
    {
      "title":"UI PROTOTIPE",
      "description":"Orientador en proceso de prototipado en sistema de ventas",
      "received":"Abril 2017"
    }
  ];