-
  var menu = [
    {
      "name":"Sobre Mi",
      "value":"#main"
    },
    {
      "name":"Curriculum",
      "value":"#curriculum"
    },
    {
      "name":"Proyectos",
      "value":"#portfolio"
    },
    {
      "name":"Blog",
      "value":"#blog"
    },
    {
      "name":"Premios",
      "value":"#awards"
    },
    {
      "name":"Contacto",
      "value":"#contact"
    }
  ];



-
  var skills = [
    {
      "name":"Front End",
      "value":"85"
    },
    {
      "name":"Back End",
      "value":"72"
    },
    {
      "name":"Seo Analytics",
      "value":"66"
    },
    {
      "name":"Scrum Framework",
      "value":"47"
    }
  ];

-
  var offters = [
    {
      "icon":"layers",
      "title":"UX designer",
      "description":"Lorem ipsum dolor sit amet, consectetur adipisicing elit. Odit, in ex ipsum ut aperiam quis impedit, blanditiis error praesentium voluptatibus"
    },
    {
      "icon":"internet",
      "title":"Networking",
      "description":"Lorem ipsum dolor sit amet, consectetur adipisicing elit. Odit, in ex ipsum ut aperiam quis impedit, blanditiis error praesentium voluptatibus"
    },
    {
      "icon":"idea",
      "title":"Product Owner",
      "description":"Lorem ipsum dolor sit amet, consectetur adipisicing elit. Odit, in ex ipsum ut aperiam quis impedit, blanditiis error praesentium voluptatibus"
    },
    {
      "icon":"graph",
      "title":"Seo Analytics",
      "description":"Lorem ipsum dolor sit amet, consectetur adipisicing elit. Odit, in ex ipsum ut aperiam quis impedit, blanditiis error praesentium voluptatibus"
    },
    {
      "icon":"network",
      "title":"Lean",
      "description":"Lorem ipsum dolor sit amet, consectetur adipisicing elit. Odit, in ex ipsum ut aperiam quis impedit, blanditiis error praesentium voluptatibus"
    },
    {
      "icon":"technology",
      "title":"Gamer",
      "description":"Lorem ipsum dolor sit amet, consectetur adipisicing elit. Odit, in ex ipsum ut aperiam quis impedit, blanditiis error praesentium voluptatibus"
    }
  ];

-
  var education = [
    {
      "title":"Systems Engineer and Informatics",
      "address":"Unviversidad Ciencias y Humanidades (2 Years Course)",
      "description":"Un modo de enfoque que permite estudiar y comprender la realidad, con el propósito de implementar u optimizar sistemas complejos.",
      "graduation":"Graduation May 2013"
    }
  ];

-
  var experience = [
    {
      "title":"Athelas / greenhouse",
      "address":"No necesitas magia para crear tu web ideal ",
      "description":"Tanto si quieres que realicemos un diseño que ya tienes, como si necesitas una solución completa, el equipo de Athelas cuenta con las herramientas necesarias para ayudarte. Aplicaciones Web, Desarrollo de Contenidos, SEO, Community Management, Arquitectura de la Información, Gestores de Contenido, Capacitaciones.",
      "graduation":"Actualmente"
    },
    {
      "title":"Techys Enterprise",
      "address":"Permitiremos a su empresa alcanzar el éxito deseado en internet",
      "description":"Especialistas en el desarrollo e implementación de soluciones innovadoras, ofreciendo servicios con un alto nivel de competencias tecnológicas.",
      "graduation":"1 año"
    },
    {
      "title":"CrearPeru.com",
      "address":"Agencia Diseño Gráfico, Web y Social Media",
      "description":"Agencia creativa con amplia experiencia en el campo del diseño, publicidad, asesoría y marketing, con el objetivo de superar las expectativas de cada sus clientes",
      "graduation":"9 meses"
    }
  ];

-
  var projects = [
    {
      "title":"Techys Enterprise",
      "image":"img/thumb-01.png",
      "link":"google.com"
    },
    {
      "title":"CrearPeru.com",
      "image":"img/thumb-02.png",
      "link":"google.com"
    },
    {
      "title":"CrearPeru.com",
      "image":"img/thumb-03.png",
      "link":"google.com"
    },
    {
      "title":"CrearPeru.com",
      "image":"img/thumb-01.png",
      "link":"google.com"
    },
    {
      "title":"CrearPeru.com",
      "image":"img/thumb-02.png",
      "link":"google.com"
    },
    {
      "title":"CrearPeru.com",
      "image":"img/thumb-03.png",
      "link":"google.com"
    },
    {
      "title":"CrearPeru.com",
      "image":"img/thumb-01.png",
      "link":"google.com"
    },
    {
      "title":"CrearPeru.com",
      "image":"img/thumb-02.png",
      "link":"google.com"
    },
    {
      "title":"CrearPeru.com",
      "image":"img/thumb-03.png",
      "link":"google.com"
    }
  ];

-
  var awards = [
    {
      "title":"CSS DESIGN AWARD",
      "description":"Mejor sitio web CSS del mes.",
      "received":"Septiembre 2016"
    },
    {
      "title":"UX DESIGNER UCH",
      "description":"Interfaz educativa utilizando API's.",
      "received":"Octubre 2016"
    },
    {
      "title":"UI PROTOTYPE",
      "description":"Orientador en proceso de prototipado en sistema de ventas",
      "received":"Abril 2017"
    }
  ];

-
  var social = [
    {
      "title":"facebook",
      "url":"https://www.facebook.com/view.marco/"
    },
    {
      "title":"twitter",
      "url":"https://twitter.com/makrozai"
    },
    {
      "title":"youtube",
      "url":"https://www.youtube.com/channel/UCPT3eMAOiaE10yKAa21LoJw"
    },
    {
      "title":"linkedin",
      "url":"https://www.linkedin.com/in/makrozai"
    },
    {
      "title":"instagram",
      "url":"https://www.instagram.com/makrozai/"
    }
  ];

-
  var clients = [
    {
      "image":"img/clients/client-1.svg",
      "title":"manya",
    },
    {
      "image":"img/clients/client-2.svg",
      "title":"Crear Peru",
    },
    {
      "image":"img/clients/client-3.svg",
      "title":"Athelas",
    },
    {
      "image":"img/clients/client-2.svg",
      "title":"Crearperu",
    },
    {
      "image":"img/clients/client-3.svg",
      "title":"Athelas",
    }
  ];