-
  var menu = [
    {
      "name":"Sobre Mi",
      "value":"#main"
    },
    {
      "name":"Curriculum",
      "value":"#curriculum"
    },
    {
      "name":"Proyectos",
      "value":"#portfolio"
    },
    {
      "name":"Blog",
      "value":"#blog"
    },
    {
      "name":"Premios",
      "value":"#awards"
    },
    {
      "name":"Contacto",
      "value":"#contact"
    }
  ];



-
  var skills = [
    {
      "name":"Front End",
      "value":"85"
    },
    {
      "name":"Back End",
      "value":"72"
    },
    {
      "name":"Seo Analytics",
      "value":"66"
    },
    {
      "name":"Scrum Framework",
      "value":"47"
    }
  ];

-
  var offters = [
    {
      "icon":"layers",
      "title":"UX designer",
      "description":"Lorem ipsum dolor sit amet, consectetur adipisicing elit. Odit, in ex ipsum ut aperiam quis impedit, blanditiis error praesentium voluptatibus"
    },
    {
      "icon":"internet",
      "title":"Networking",
      "description":"Lorem ipsum dolor sit amet, consectetur adipisicing elit. Odit, in ex ipsum ut aperiam quis impedit, blanditiis error praesentium voluptatibus"
    },
    {
      "icon":"idea",
      "title":"Product Owner",
      "description":"Lorem ipsum dolor sit amet, consectetur adipisicing elit. Odit, in ex ipsum ut aperiam quis impedit, blanditiis error praesentium voluptatibus"
    },
    {
      "icon":"graph",
      "title":"Seo Analytics",
      "description":"Lorem ipsum dolor sit amet, consectetur adipisicing elit. Odit, in ex ipsum ut aperiam quis impedit, blanditiis error praesentium voluptatibus"
    },
    {
      "icon":"network",
      "title":"Lean",
      "description":"Lorem ipsum dolor sit amet, consectetur adipisicing elit. Odit, in ex ipsum ut aperiam quis impedit, blanditiis error praesentium voluptatibus"
    },
    {
      "icon":"technology",
      "title":"Gamer",
      "description":"Lorem ipsum dolor sit amet, consectetur adipisicing elit. Odit, in ex ipsum ut aperiam quis impedit, blanditiis error praesentium voluptatibus"
    }
  ];

-
  var education = [
    {
      "title":"Systems Engineer and Informatics",
      "address":"Unviversidad Ciencias y Humanidades (2 Years Course)",
      "description":"Un modo de enfoque que permite estudiar y comprender la realidad, con el propósito de implementar u optimizar sistemas complejos.",
      "graduation":"Graduation May 2013"
    }
  ];

-
  var experience = [
    {
      "title":"Techys Enterprise",
      "address":"St. Patrick University (1 Years Course)",
      "description":"Lorem ipsum dolor sit amet, consectetur adipisicing elit. Magnam ipsam cum sit adipisci qui vel, doloremque obcaecati nulla, repellendus dignissimos debitis vero dolore omnis tenetur sapiente minus eos, deserunt magni.",
      "graduation":"Culmination May 2013"
    },
    {
      "title":"CrearPeru.com",
      "address":"St. Patrick University (9 months Course)",
      "description":"Lorem ipsum dolor sit amet, consectetur adipisicing elit. Magnam ipsam cum sit adipisci qui vel, doloremque obcaecati nulla, repellendus dignissimos debitis vero dolore omnis tenetur sapiente minus eos, deserunt magni.",
      "graduation":"Graduation May 2013"
    },
    {
      "title":"CrearPeru.com",
      "address":"St. Patrick University (2 Years Course)",
      "description":"Lorem ipsum dolor sit amet, consectetur adipisicing elit. Magnam ipsam cum sit adipisci qui vel, doloremque obcaecati nulla, repellendus dignissimos debitis vero dolore omnis tenetur sapiente minus eos, deserunt magni.",
      "graduation":"Graduation May 2013"
    }
  ];

-
  var projects = [
    {
      "title":"Techys Enterprise",
      "image":"img/thumb-01.png",
      "link":"google.com"
    },
    {
      "title":"CrearPeru.com",
      "image":"img/thumb-02.png",
      "link":"google.com"
    },
    {
      "title":"CrearPeru.com",
      "image":"img/thumb-03.png",
      "link":"google.com"
    },
    {
      "title":"CrearPeru.com",
      "image":"img/thumb-01.png",
      "link":"google.com"
    },
    {
      "title":"CrearPeru.com",
      "image":"img/thumb-02.png",
      "link":"google.com"
    },
    {
      "title":"CrearPeru.com",
      "image":"img/thumb-03.png",
      "link":"google.com"
    },
    {
      "title":"CrearPeru.com",
      "image":"img/thumb-01.png",
      "link":"google.com"
    },
    {
      "title":"CrearPeru.com",
      "image":"img/thumb-02.png",
      "link":"google.com"
    },
    {
      "title":"CrearPeru.com",
      "image":"img/thumb-03.png",
      "link":"google.com"
    }
  ];

-
  var awards = [
    {
      "title":"CSS DESIGN AWARD",
      "description":"Mejor sitio web CSS del mes.",
      "received":"Septiembre 2016"
    },
    {
      "title":"UX DESIGNER UCH",
      "description":"Interfaz educativa utilizando API's.",
      "received":"Octubre 2016"
    },
    {
      "title":"UI PROTOTIPE",
      "description":"Orientador en proceso de prototipado en sistema de ventas",
      "received":"Abril 2017"
    }
  ];