footer.main-footer
  .container
    .row.center-align
      .col-s12
        spam.main-footer__author © JOHN SLAMR 2014
        spam.main-footer__copy TEMPLATE CREATED BY
        a.main-footer__website CREATEBRILLIANCE - Media & Consulting