header.main-header
  .slider
    ul.slides
      each val in ['http://themes.createbrilliance.com/Slamr/theme/img/bg-head-1.jpg', 'http://themes.createbrilliance.com/Slamr/theme/img/bg-head-2.jpg']
        li
          img(src= val)
          .caption.center-align
            h3.main-header__title HI, I'M JOHN SLAMR
            h5.main-header__subtitle From San Francisco.