main.main
  .container
    .row
      .col.s12
        h1.main-title.main--title john slamr
        h2.main-subtitle.main--subtitle Ux Designer. Frontend Developer. Art Director.
      .col.s12
        h4.main-title__header Short facts about me
  .container
    .row
      .col.s12.l6
        ul.main-skills
          li.main-skill.row
            .col.s12.m3
              .main-skill__title Profile
            .col.s12.m9
              .main-skill__description UX Designer Frontend developer Art Director
          li.main-skill.row
            .col.s12.m3
              .main-skill__title Social Profiles
            .col.s12.m9
              .main-skill__description 
                a(href="").main-skill__description--icon
                  i.material-icons.icon-facebook
                a(href="").main-skill__description--icon
                  i.material-icons.icon-twitter
                a(href="").main-skill__description--icon
                  i.material-icons.icon-youtube
                a(href="").main-skill__description--icon
                  i.material-icons.icon-linkedin
                a(href="").main-skill__description--icon
                  i.material-icons.icon-instagram
          li.main-skill.row
            .col.s12.m3
              .main-skill__title Skills
            .col.s12.m9.main-skill__content
              each val in [1, 2, 3, 4, 5, 6]
                .main-skill__circle
                  .c100.p50.small
                    span 50%
                    .slice
                      .bar
                      .fill
                  p.main-skill__name html
          li.main-skill.row
            .col.s12.m3
              .main-skill__title Contact
            .col.s12.m9
              a.main-skill__description john@SLAMR.com
          
      .col.s12.l6
        p.main-description  Soy un joven de 19 años, orientado a desarrollarse en la Carrera de Ingeniería de sistemas e informática. Proactivo, facilidad para relacionarme con diferentes tipos de personas.
        p.main-description  Orientado a trabajar en equipo, y bajo presión, desarrollándome y motivándome para el logro de mis metas. Con la finalidad de aprender, afianzar mis conocimientos, brindar aportes y comprometerme con los objetivos de la institución así como las actividades laborales.
        p.main-author Kind Regards.