nav.main-nav
  .nav-wrapper
    .container
      a(href="#!").main-nav__title MAKROZAI
      a(href="#" data-activates="mobile-demo").button-collapse
        i.material-icons.icon-menu
      ul.right.hide-on-med-and-down.main-nav__desktop
        li.main-nav__desktop--item
          a(href="sass.html") Welcome
        li.main-nav__desktop--item
          a(href="badges.html") Curriculum
        li.main-nav__desktop--item
          a(href="collapsible.html") Portfolio
        li.main-nav__desktop--item
          a(href="mobile.html") Blog
        li.main-nav__desktop--item
          a(href="mobile.html") Awards
        li.main-nav__desktop--item
          a(href="mobile.html") Contact
    ul.side-nav#mobile-demo.main-nav__mobile
      li
        a(href="sass.html") Welcome
      li
        a(href="badges.html") Curriculum
      li
        a(href="collapsible.html") Portfolio
      li
        a(href="mobile.html") Blog
      li
        a(href="mobile.html") Awards
      li
        a(href="mobile.html") Contact