nav.main-nav
  .nav-wrapper
    .container
      h1.main-nav__logo.main-nav__title MAKROZAI
      a(href="#" data-activates="mobile-demo").button-collapse
        i.material-icons.icon-menu
      ul.right.hide-on-med-and-down.main-nav__desktop
        each item in menu
          li.main-nav__desktop--item
            a(href= item.value)= item.name
    ul.side-nav#mobile-demo.main-nav__mobile
      each item in menu
        li
          a(href= item.value)= item.name