section#portfolio.main-projects.scrollspy
  .container
    .row
      .col.s12
        h2.main-projects__title.main--title PROJECTOS
        h3.main-projects__subtitle.main--subtitle Proyectos en los que trabajé
      .col.s12
        #blog-landing
          .main-projects__image.pinto
            img(src="img/thumb-01.png", alt="").materialboxed
          .main-projects__image.pinto
            img(src="img/thumb-02.png", alt="").materialboxed
          .main-projects__image.pinto
            img(src="img/thumb-03.png", alt="").materialboxed
          .main-projects__image.pinto
            img(src="img/thumb-01.png", alt="").materialboxed
          .main-projects__image.pinto
            img(src="img/thumb-02.png", alt="").materialboxed
          .main-projects__image.pinto
            img(src="img/thumb-03.png", alt="").materialboxed
          .main-projects__image.pinto
            img(src="img/thumb-01.png", alt="").materialboxed
          .main-projects__image.pinto
            img(src="img/thumb-02.png", alt="").materialboxed
          .main-projects__image.pinto
            img(src="img/thumb-03.png", alt="").materialboxed