section.main-services
  .container
    .row
      .col.s12
        h4.main-title__header Whats I offer
      each val in [1, 2, 3, 4, 5, 6]
        .col.s12.m6.l4
          .main-card.card-panel.center-align
            i.material-icons.large local_bar
            h5.main-card__title Interface Design
            p.main-card__description  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Odit, in ex ipsum ut aperiam quis impedit, blanditiis error praesentium voluptatibus