.main-sponsor
  .container
    .row.center-align.u-margin__none
      .col.s12
        p.main-sponsor__title Contactame como Freelance
      .col.s12
        a(href="img/marcoFree.pdf" target="_blank").waves-effect.waves-light.btn-large.main-sponsor__button
          i.material-icons.left check
          | Descargar mi CV