section.main-sponsor
  .container
    .row.center-align
      .col.s12
        p.main-sponsor__title Puedes contactarme como freelance
      .col.s12
        a.waves-effect.waves-light.btn-large.main-sponsor__button
          i.material-icons.left check
          | Descargar mi CV