section.main-testimonial
  .container
    .row
      .col.s12
        h2.main-testimonial__title.main--title TESTIMONIOS
        h3.main-testimonial__subtitle.main--subtitle Lo que mis clientes piensan de mí
      .col.s12
        .slider.single-item
          div
            .main-testimonial__item
              img(src="http://themes.createbrilliance.com/Slamr/theme/img/testimonials/testimonial-1.jpg", alt="").main-testimonial__image
              p.main-testimonial__description  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Delectus quo fuga consequatur voluptatibus, libero eaque repellendus, optio, nemo maxime distinctio id rerum facilis. Dolor explicabo officia natus error aliquid nihil!
              p.main-testimonial__author John Adams (CEO - Company)
          div
            .main-testimonial__item
              img(src="http://themes.createbrilliance.com/Slamr/theme/img/testimonials/testimonial-2.jpg", alt="").main-testimonial__image
              p.main-testimonial__description  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Delectus quo fuga consequatur voluptatibus, libero eaque repellendus, optio, nemo maxime distinctio id rerum facilis. Dolor explicabo officia natus error aliquid nihil!
              p.main-testimonial__author John Adams (CEO - Company)
          div
            .main-testimonial__item
              img(src="http://themes.createbrilliance.com/Slamr/theme/img/testimonials/testimonial-3.jpg", alt="").main-testimonial__image
              p.main-testimonial__description  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Delectus quo fuga consequatur voluptatibus, libero eaque repellendus, optio, nemo maxime distinctio id rerum facilis. Dolor explicabo officia natus error aliquid nihil!
              p.main-testimonial__author John Adams (CEO - Company)