.main-awards{
  padding: 6em 0;
  
  &__content{
    margin-top: 6em;
    @media only screen and (max-width: 600px) {
        text-align: center;
      }
  }
  &__item{
    &--title{
      margin-top: 0;
      font-size: 1.5em;
      letter-spacing: 2px;
    }
    &--description{
      color: #7E8385;
      font-weight: 300;
    }
    &--received{
      color: #aaa;
      font-weight: 300;
    }
  }
  &__button{
    background: $negro;
    box-shadow: 0 0 0 0 transparent;
    @media only screen and (max-width: 600px) {
      margin-bottom: 1.5em;
    }
    &:hover{
      background: transparent;
      box-shadow: 0 0 0 2px $negro inset;
      i{
        color: $negro;
      }
    }
  }
}