.main-clients{
  background: #F5F5F5;
  padding-bottom: 6em;
  .container{
    margin-top: 6em;
  }
  &__carousel{
    height: auto !important;
    margin-top: 8em;
    text-align: center;
    button:before{
      color: black;
    }
    > button{
      @media only screen and (max-width: 600px) {
        display: none !important;
      }
    }
    &--image{
      display: block;
      width: 70%;
      margin: 0 auto;
    }
    &--title{
      font-size: 1.1em;
      letter-spacing: 1px;
      margin: 1.5em 0;
    }
    .slick-dots{
      li{
        button:before{
          content: "";
        border-radius: 50%;
        border: 1px solid black;
        transition:all .3s;
        }
      }
    }
    .slick-slide.slick-active {
        outline: 0;
    }
  }
}