.main-header{
  min-height: 700px !important;
  height: 100vh !important;

  .slider{
    min-height: 700px !important;
    height: 100vh !important;
    background: red;
  }
  .slides{
    min-height: 700px !important;
    height: 100vh !important;
    li{
      min-height: 700px !important;
      height: 100vh !important;
      .caption{
        top: 25%;
      }
    }
  }
  &__title{
    font-weight: 700;
    font-size: 4em;
    margin: 0;
  }
  &__subtitle{
    margin: 0;
  }
}