.main{
  padding: 7em 0;
  color: #7E8385;
  &-title{
    &__header{
      text-align: center;
      color: darken(#ccc,10);
      font-size: 1.5em;
      margin-bottom: 3em;
    }
  }
  &-skill{
    @media only screen and (max-width: 600px) {
      text-align: center;
    }
    &__title{
      color: rgba(0, 0, 0, 0.87);
      letter-spacing: 1px;
      font-size: 1.1em;
      text-transform: uppercase;
      @media only screen and (max-width: 600px) {
        text-align: center;
        margin: 1em 0 2em;
        font-weight: 500;
      }
    }
    &__description{
      &--icon{
        padding: 0 .5em;
        i{
          font-size: 1.5em;
        }
      }
    }
    &__content{
      display: flex;
      flex-wrap:wrap;
    }
    &__circle{
      width: 25%;
      padding: 0 0 .8em;
      display: block;
      display: flex;
      flex-direction:column;
      p{
        text-align: center;
        text-transform: uppercase;
        font-weight: 700;
        letter-spacing: 1px;
      }
      > .c100{
        margin: 0 auto;
      }
      @media only screen and (max-width: 600px) {
        width: 33.333%;
      }
    }
    &__linear{
      width: 100%;

      background: lighten($negro,90);
      margin-bottom:1em;
      color:$negro;
      padding:.4em 1em;
      font-size: .8rem;
      display: flex;
      justify-content: space-between;
      position: relative;

      &--name{
        color:white;
      }
      &--value{
        color:$secondary-color;
      }
      &--name, &--value{
        position: relative;
      }
      &:before{
        content: "";
        background: $negro;
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
        width: 0;
      }

      @for $i from 0 through 100{
        &.p-#{$i}:before{
          width: #{$i + '%'};
        }
      }
        
    }
  }
  &-description{
    line-height: 2.2;
    @media only screen and (max-width: 600px) {
      text-align: center;
    }
  }
  &-author{
    margin-top: 3.5em;
    @media only screen and (max-width: 600px) {
      text-align: center;
    }
  }
  &--title{
    text-align: center;
    font-size: 2.5em;
    font-weight: 700;
    text-transform: uppercase;
    margin: 0;
    color: rgba(0, 0, 0, 0.87);
  }
  &--subtitle{
    text-align: center;
    font-size: 1.5em;
    color: darken(#ccc,10);
    margin: .5em 0 0;
    font-weight: 300;

    &:after{
      content: "";
      display: block;
      background: rgba(0, 0, 0, 0.87);
      height: .15em;
      margin: 2.5em auto 0;
      width: 5em;
    }
  }
}