footer.main-footer
  .container
    .row.center-align
      .col-s12
        spam.main-footer__author © MAKROZAI 2017
        spam.main-footer__copy TEMPLATE CREATED BY
        a(href="http://makrozai.com").main-footer__website ANATA - TEAM