header#header.main-header.scrollspy
  .slider
    ul.slides
      each val in ['dist/img/portada.jpg', 'http://themes.createbrilliance.com/Slamr/theme/img/bg-head-2.jpg']
        li
          img(src= val)
          .caption.center-align
            spam.main-header__title HI, I'M MARCO CONDORI
            spam.main-header__subtitle Lima - Perú.