-
  var menu = [
    {
      "name":"Sobre Mi",
      "value":"#main"
    },
    {
      "name":"Curriculum",
      "value":"#curriculum"
    },
    {
      "name":"Proyectos",
      "value":"#portfolio"
    },
    {
      "name":"Premios",
      "value":"#awards"
    },
    {
      "name":"Contacto",
      "value":"#contact"
    }
  ];



-
  var skills = [
    {
      "name":"Front End",
      "value":"90"
    },
    {
      "name":"Back End",
      "value":"72"
    },
    {
      "name":"Seo Analytics",
      "value":"86"
    },
    {
      "name":"Scrum Framework",
      "value":"57"
    }
  ];

-
  var offters = [
    {
      "icon":"layers",
      "title":"UX designer",
      "description":"Lo que el cliente percibe al usar o probar un producto y la forma de ver estos de manera integral desde el punto de vista del usuario."
    },
    {
      "icon":"internet",
      "title":"Networking",
      "description":"Aumenta las posibilidades de cualquier  empresa de mejorar las ventas de sus productos y conseguir mejores precios con sus proveedores."
    },
    {
      "icon":"idea",
      "title":"Product Owner",
      "description":"Tener una visión de lo que se desea construir, y transmitir esa versión al Scrum Team. Esta es la clave para iniciar cualquier proyecto de desarrollo agil."
    },
    {
      "icon":"graph",
      "title":"Seo Analytics",
      "description":"Generar un mejor resultado de busqueda con las herramientas de posicionamiento en Google, creación e implementación de informes estadisticos."
    },
    {
      "icon":"network",
      "title":"Coaching",
      "description":"Es el arte de hacer preguntas para ayudar a otras personas, a través del aprendizaje, en la exploración y descubrimiento de nuevas creencias."
    },
    {
      "icon":"technology",
      "title":"Gamer",
      "description":"A otro nivel! Explorador de nuevos mundos y creador de contenidos para entretener, generar experiencias nuevas y fascinantes en un mundo virtual."
    }
  ];

-
  var education = [
    {
      "title":"Ingeniería de Sistemas e Informática",
      "address":"Unviversidad Ciencias y Humanidades (2 Years Course)",
      "description":"Un modo de enfoque que permite estudiar y comprender la realidad, con el propósito de implementar u optimizar sistemas complejos.",
      "graduation":"Graduacion ### ####"
    }
  ];

-
  var experience = [
    {
      "title":"Athelas / greenhouse",
      "address":"No necesitas magia para crear tu web ideal ",
      "description":"Tanto si quieres que realicemos un diseño que ya tienes, como si necesitas una solución completa, el equipo de Athelas cuenta con las herramientas necesarias para ayudarte. Aplicaciones Web, Desarrollo de Contenidos, SEO, Community Management, Arquitectura de la Información, Gestores de Contenido, Capacitaciones.",
      "graduation":"Actualmente"
    },
    {
      "title":"CrearPeru.com",
      "address":"Agencia Diseño Gráfico, Web y Social Media",
      "description":"Agencia creativa con amplia experiencia en el campo del diseño, publicidad, asesoría y marketing, con el objetivo de superar las expectativas de cada sus clientes",
      "graduation":"9 meses"
    },
    {
      "title":"Techys Enterprise",
      "address":"Permitiremos a su empresa alcanzar el éxito deseado en internet",
      "description":"Especialistas en el desarrollo e implementación de soluciones innovadoras, ofreciendo servicios con un alto nivel de competencias tecnológicas.",
      "graduation":"1 año"
    }
  ];

-
  var projects = [
    {
      "title":"Techys Enterprise",
      "image":"dist/img/thumb-01.png",
      "link":"google.com"
    },
    {
      "title":"CrearPeru.com",
      "image":"dist/img/thumb-02.png",
      "link":"google.com"
    },
    {
      "title":"CrearPeru.com",
      "image":"dist/img/thumb-03.png",
      "link":"google.com"
    },
    {
      "title":"CrearPeru.com",
      "image":"dist/img/thumb-01.png",
      "link":"google.com"
    },
    {
      "title":"CrearPeru.com",
      "image":"dist/img/thumb-02.png",
      "link":"google.com"
    },
    {
      "title":"CrearPeru.com",
      "image":"dist/img/thumb-03.png",
      "link":"google.com"
    },
    {
      "title":"CrearPeru.com",
      "image":"dist/img/thumb-01.png",
      "link":"google.com"
    },
    {
      "title":"CrearPeru.com",
      "image":"dist/img/thumb-02.png",
      "link":"google.com"
    },
    {
      "title":"CrearPeru.com",
      "image":"dist/img/thumb-03.png",
      "link":"google.com"
    }
  ];

-
  var awards = [
    {
      "title":"CSS DESIGN AWARD",
      "description":"Mejor sitio web CSS del mes.",
      "received":"Septiembre 2016"
    },
    {
      "title":"UX DESIGNER UCH",
      "description":"Interfaz educativa utilizando API's.",
      "received":"Octubre 2016"
    },
    {
      "title":"UI PROTOTYPE",
      "description":"Orientador en proceso de prototipado en sistema de ventas",
      "received":"Abril 2017"
    }
  ];

-
  var social = [
    {
      "title":"facebook",
      "url":"https://www.facebook.com/view.marco/"
    },
    {
      "title":"twitter",
      "url":"https://twitter.com/makrozai"
    },
    {
      "title":"youtube",
      "url":"https://www.youtube.com/channel/UCPT3eMAOiaE10yKAa21LoJw"
    },
    {
      "title":"linkedin",
      "url":"https://www.linkedin.com/in/makrozai"
    },
    {
      "title":"instagram",
      "url":"https://www.instagram.com/makrozai/"
    },
    {
      "title":"git",
      "url":"https://github.com/marcondoric"
    }
  ];

-
  var clients = [
    {
      "image":"dist/img/clients/client-2.svg",
      "title":"Crear Peru",
    },
    {
      "image":"dist/img/clients/client-3.svg",
      "title":"Athelas",
    },
    {
      "image":"dist/img/clients/client-2.svg",
      "title":"Jana1",
    }
  ];